@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:wght@400;700&display=swap");
//@import "/sandbox-react/src/style/Motdujour.scss";
@import url(./Definition.scss);

:root {
  --bleulac: #5e70b3;
  --rosesaumon: #ff4057;
  --constellation: #3e4975;
  --bleucalme: #a3afd9;
  --plebbestone: #f4efef;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: var(--plebbestone);
}

// search
div.search {
  background-color: rgb(255, 64, 87, 0.2);
  padding-left: 30px;
  margin-top: 70px;
  margin-left: 22px;
  width: 300px;
  height: 50px;
  border-radius: 9px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

div.search input,
div.search input::placeholder {
  background-color: rgb(255, 64, 87, 0.01);
  color: var(--bleulac);
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0px;
  border: none;
  outline: none;
}

button.btn-non-utiliser {
  outline: none;
  border: none;
  background: none;
  height: 40px;
  width: 40px;
}

img.img-barre-search {
  margin: auto;
}

// fin search

// texte
p {
  text-align: left;
  margin-left: 22px;
  margin-top: 20px;
  color: var(--bleulac);
}

p.titre-sep {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}

p.name-category {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
}

p.titre-definition {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: #ff4057bf;
}

// buttons

div.more-search button,
button.Proposition {
  display: flex;
  padding: auto;
  background-color: #ff4057bf;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  min-width: 34px;
  height: 27px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-inline-end: 10px;
  padding: 7px;
}

div.button,
button.Proposition {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 34px;
  min-height: 27px;
  margin-left: 22px;
}

// catégories
div.category {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-content: center;
  flex-wrap: wrap;
}

div.categories,
button.categories-two-pink,
button.categories-two-reddish {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 147px;
  width: 147px;
  margin-top: 20px;
  padding: 0px;
}

button.categories-two-pink {
  background-color: #ff405755;
  border: none;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}

button.categories-two-reddish {
  background-color: #ff4057a8;
  border: none;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}

//nav barre

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: var(--rosesaumon);
  margin-top: 20px;
  height: 81px;
  min-width: 375px;
}

nav div.barre-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button {
  height: 31px;
  width: 31px;
  margin: 20px 30px 0px 20px;
  border: none;
  align-content: center;
  background-color: var(--rosesaumon);
}

// définition

div.definition {
}
